<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Application</h5>
        <table class="mb-0 table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>CRN</th>
                    <th>Status</th>
                    <th>Applied Date</th>
                    <th>Files Upload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">99999</th>
                    <td>CSCI 1120</td>
                    <td><div class="mb-2 mr-2 badge badge-success">Approved</div></td>
                    <td>2077-02-31 12.00</td>
                    <td>xxx.pdf</td>
                </tr>
                <tr>
                    <th scope="row">99998</th>
                    <td>CSCI 1120</td>
                    <td><div class="mb-2 mr-2 badge badge-primary">Recieved</div></td>
                    <td>2077-02-31 12.00</td>
                    <td>xxx.pdf</td>
                </tr>
                <tr>
                    <th scope="row">99997</th>
                    <td>CSCI 1120</td>
                    <td><div class="mb-2 mr-2 badge badge-danger">Not Approved</div></td>
                    <td>2077-02-31 12.00</td>
                    <td>xxx.pdf</td>
                </tr>
                <tr>
                    <th scope="row">99996</th>
                    <td>CSCI 1120</td>
                    <td><div class="mb-2 mr-2 badge badge-info">Interview</div></td>
                    <td>2077-02-31 12.00</td>
                    <td>xxx.pdf</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>