<div class="main-card mb-3 card">
	<div class="card-header">Post a job</div>
	<div class="card-body">
		<div class="position-relative form-group">
			<label for="exampleCourseDetail" class="">CourseDetail 1</label>
			<input name="course-detail-1" id="exampleCourseDetail" placeholder="CourseDetail1" type="text" class="form-control">
		</div>
		<div class="position-relative form-group">
			<label for="exampleCourseDetail" class="">CourseDetail 2</label>
			<input name="course-detail-2" id="exampleCourseDetail" placeholder="CourseDetail2" type="text" class="form-control">
		</div>
		<div class="position-relative form-group">
			<label for="exampleCourseDetail" class="">CourseDetail 3</label>
			<input name="course-detail-3" id="exampleCourseDetail" placeholder="CourseDetail3" type="text" class="form-control">
		</div>
		<button class="btn btn-primary">Post</button>
		<button class="btn btn-primary">Draft</button>
	</div>
</div>