<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Interview</h5>
        <table class="mb-0 table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>CRN</th>
                    <th>Date of Interview</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">99999</th>
                    <td>CSCI 1120</td>
                    <td>2077-02-31 12.00</td>
                </tr>
                <tr>
                    <th scope="row">99999</th>
                    <td>CSCI 1120</td>
                    <td>2077-02-31 12.00</td>
                </tr>
                <tr>
                    <th scope="row">99999</th>
                    <td>CSCI 1120</td>
                    <td>2077-02-31 12.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>