<!--A card that displays the information about a submitted application and professor information for the job-->
<link href="../styles/architectui-html-free/architectui-html-free/main.css" rel="stylesheet"/>

<!--Application information-->
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Application Information</h5>
        <table class="mb-0 table table-bordered col-lg-6">
            <thead>
            <tr>
                <th>Application Deadline:</th>
                <td>Jul 31, 2020 11:59:00 PM</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Application Procedure</th>
                <td>Employer Website</td>
            </tr>
            <tr>
                <th scope="row">Application Material Required:</th>
                <td class="d=inline-block"><p>Cover Letter</p> <p>Resume</p> <p>Transcript/Academic Record</p></td>
             </tr>
            <tr>
                <th scope="row">Faculties Recruiting Form:</th>
                <td class="d=inline-block"><p>Computer Science</p> <p>Applied Computer Science</p></td>
            </tr>
            <tr>
                <th scope="row">Education Level:</th>
                <td class="d=inline-block"><p>Undergraduate <input type="checkbox"></p> <p>Masters <input type="checkbox"></p> <p>Doctrate <input type="checkbox"></p> <p>All <input type="checkbox"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Professor information-->
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Professor Information</h5>
        <table class="mb-0 table table-bordered col-lg-6">
            <thead>
            <tr>
                <th>Salutation:</th>
                <td>Mr</td>
            </tr>
            <tr>
                <th scope="row">Professor First Name:</th>
                <td>John</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Professor Last Name:</th>
                <td>Doe</td>
            </tr>
            <tr>
                <th scope="row">Professor Email:</th>
                <td>johndoe321@outlook.com</td> 
             </tr>
            <tr>
                <th scope="row">Professor Office Hours:</th>
                <td>Wednesdays 12:00 PM-2:00 PM</td> 
            </tr>
            <tr>
                <th scope="row">Faculty:</th>
                <td>Computer Science</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Tags for the job-->
<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Tags</h5>
        <div class="d-inline-block">
            <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-light"><p>CS</p></button>
            <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-light"><p>Intro to Web Development</p></button>
            <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-light"><p>CSCI 1170</p></button>
        </div>
    </div>
</div>
