<!--This card will be used by students to search for a job-->
<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Job search</h5>
        <form class="">
            <div class="position-relative form-group"><label for="jobIDSearch" class="">Job ID</label><input name="jobid" id="jobIDSearch" placeholder="Job ID" type="number" class="form-control"></div>
            <div class="position-relative form-group"><label for="facultySelection" class="">Faculty</label><select name="facultyselect" id="facultySelection" class="form-control">
                <option>-----Select One-----</option>
                <option>Agriculture</option>
                <option>Architecture and Planning</option>
                <option>Arts and Social Sciences</option>
                <option>College of Continuing Education</option>
                <option>Computer Science</option>
                <option>Dentistry</option>
                <option>Engineeing</option>
                <option>Graduate Studies</option>
                <option>Health</option>
                <option>Law</option>
                <option>Management</option>
                <option>Medicine</option>
                <option>Science</option>
            </select></div>

            <div class="position-relative form-group"><label for="jobTitleSearch" class="">Job Title</label><input name="jobtitle" id="jobTitleSearch" placeholder="Job Title" class="form-control"></div>
            <div class="position-relative form-group"><label for="jobDescriptionSearch" class="">Job Discription</label><input name="jobdescription" id="jobDescriptionSearch" placeholder="Job Description" class="form-control"></div>
            <div class="position-relative form-group"><label for="jobRequirementSearch" class="">Job Requirement</label><input name="jobrequirement" id="jobRequirementSearch" placeholder="Job Requirement" class="form-control"></div>
            <div class="position-relative form-group"><label for="additionInfoSearch" class="">Additional Info</label><textarea name="additioninfo" id="additionInfoSearch" class="form-control"></textarea></div>
            <button class="mt-1 btn btn-primary">Search</button>
        </form>
    </div>
</div>