<div class="main-card mb-3 card">
	<div class="card-body"><h5 class="card-title">Jobs</h5>
		<h5>Within Faculty</h5>
		<table class="mb-0 table table-hover table-responsive">
			<thead>
				<tr>
					<th>Job ID</th>
					<th>Course Name</th>
					<th>Course Code</th>
					<th>Tags</th>
					<th>Time</th>
					<th>Instructor</th>
					<th>Rate of Pay</th>
					<th>Application deadline</th>
					<th>Application status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row"><a href="">99999</a></th>
					<td>Introduction to Computer System</td>
					<td>CSCI 1120</td>
					<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
					<td>MWF 11.30-12.30</td>
					<td>Someone</td>
					<td>21</td>
					<td>2077.02.31</td>
					<td><div class="mb-2 mr-2 badge badge-success">Approved</div>
					</td></tr>
					<tr>
						<th scope="row"><a href="">99998</a></th>
						<td>Introduction to Computer System</td>
						<td>CSCI 1120</td>
						<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
						<td>MWF 11.30-12.30</td>
						<td>Someone</td>
						<td>21</td>
						<td>2077.02.31</td>
						<td><div class="mb-2 mr-2 badge badge-primary">Processing</div>
						</td></tr>
						<tr>
							<th scope="row"><a href="">99997</a></th>
							<td>Introduction to Computer System</td>
							<td>CSCI 1120</td>
							<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
							<td>MWF 11.30-12.30</td>
							<td>Someone</td>
							<td>21</td>
							<td>2077.02.31</td>
							<td><div class="mb-2 mr-2 badge badge-danger">Not Approved</div>
							</td></tr>
							<tr>
								<th scope="row"><a href="">99996</a></th>
								<td>Introduction to Computer System</td>
								<td>CSCI 1120</td>
								<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
								<td>MWF 11.30-12.30</td>
								<td>Someone</td>
								<td>21</td>
								<td>2077.02.31</td>
								<td><div class="mb-2 mr-2 badge badge-info">Applied</div>
								</td></tr>
								<tr>
									<th scope="row"><a href="">99995</a></th>
									<td>Introduction to Computer System</td>
									<td>CSCI 1120</td>
									<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
									<td>MWF 11.30-12.30</td>
									<td>Someone</td>
									<td>21</td>
									<td>2077.02.31</td>
									<td>
									</td></tr>
								</tbody>
							</table>
							<nav class="" aria-label="Page navigation example">
								<ul class="pagination pagination-sm">
									<li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
									<li class="page-item"><a href="javascript:void(0);" class="page-link">1</a></li>
									<li class="page-item"><a href="javascript:void(0);" class="page-link">2</a></li>
									<li class="page-item"><a href="javascript:void(0);" class="page-link">3</a></li>
									<li class="page-item"><a href="javascript:void(0);" class="page-link">4</a></li>
									<li class="page-item"><a href="javascript:void(0);" class="page-link">5</a></li>
									<li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
								</ul>
							</nav>
							<h5>Outside Faculty</h5>
							<table class="mb-0 table table-hover table-responsive">
								<thead>
									<tr>
										<th>Job ID</th>
										<th>Course Name</th>
										<th>Course Code</th>
										<th>Tags</th>
										<th>Time</th>
										<th>Instructor</th>
										<th>Rate of Pay</th>
										<th>Application deadline</th>
										<th>Application status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row"><a href="">99999</a></th>
										<td>Introduction to Computer System</td>
										<td>CSCI 1120</td>
										<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
										<td>MWF 11.30-12.30</td>
										<td>Someone</td>
										<td>21</td>
										<td>2077.02.31</td>
										<td><div class="mb-2 mr-2 badge badge-success">Approved</div>
										</td></tr>
										<tr>
											<th scope="row"><a href="">99998</a></th>
											<td>Introduction to Computer System</td>
											<td>CSCI 1120</td>
											<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
											<td>MWF 11.30-12.30</td>
											<td>Someone</td>
											<td>21</td>
											<td>2077.02.31</td>
											<td><div class="mb-2 mr-2 badge badge-primary">Processing</div>
											</td></tr>
											<tr>
												<th scope="row"><a href="">99997</a></th>
												<td>Introduction to Computer System</td>
												<td>CSCI 1120</td>
												<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
												<td>MWF 11.30-12.30</td>
												<td>Someone</td>
												<td>21</td>
												<td>2077.02.31</td>
												<td><div class="mb-2 mr-2 badge badge-danger">Not Approved</div>
												</td></tr>
												<tr>
													<th scope="row"><a href="">99996</a></th>
													<td>Introduction to Computer System</td>
													<td>CSCI 1120</td>
													<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
													<td>MWF 11.30-12.30</td>
													<td>Someone</td>
													<td>21</td>
													<td>2077.02.31</td>
													<td><div class="mb-2 mr-2 badge badge-info">Applied</div>
													</td></tr>
													<tr>
														<th scope="row"><a href="">99995</a></th>
														<td>Introduction to Computer System</td>
														<td>CSCI 1120</td>
														<td><div class="mb-2 mr-2 badge badge-secondary">System</div></td>
														<td>MWF 11.30-12.30</td>
														<td>Someone</td>
														<td>21</td>
														<td>2077.02.31</td>
														<td>
														</td></tr>
													</tbody>
												</table>
												<nav class="" aria-label="Page navigation example">
													<ul class="pagination pagination-sm">
														<li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
														<li class="page-item"><a href="javascript:void(0);" class="page-link">1</a></li>
														<li class="page-item"><a href="javascript:void(0);" class="page-link">2</a></li>
														<li class="page-item"><a href="javascript:void(0);" class="page-link">3</a></li>
														<li class="page-item"><a href="javascript:void(0);" class="page-link">4</a></li>
														<li class="page-item"><a href="javascript:void(0);" class="page-link">5</a></li>
														<li class="page-item"><a href="javascript:void(0);" class="page-link" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
													</ul>
												</nav>
											</div> 
										</div>