<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Post Detail</h5>
        <table class="mb-0 table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Job ID</th>
                    <td>99999</td>
                </tr>
                <tr>
                    <th scope="row">Job Title</th>
                    <td>TA for Introduction to Computer Science</td>
                </tr>
                <tr>
                    <th scope="row">Course</th>
                    <td>CSCI 1120 - 2077 fall</td>
                </tr>
                <tr>
                    <th scope="row">Rate of Pay</th>
                    <td>999</td>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>Hourly</td>
                </tr>
                <tr>
                    <th scope="row">Job Description</th>
                    <td>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Job Requirement</th>
                    <td>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Additional Information</th>
                    <td>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Deadline</th>
                    <td>2077-02-31</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
