<!--A profile card that is displayed on the main dashboard-->
<link href="../styles/architectui-html-free/architectui-html-free/main.css" rel="stylesheet"/>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle">Year?</h6>
        <pre>B00:B00123456   Email:ab12345@dal.ca    Phone:(123) 456 789</pre>
        <p>Documents: <a>3 Cover Letters </a>, <a>Resume</a> </p> 
        <p>Courses: CSCI 1234, CSCI 5678</p>        
    </div>
</div>

