<div class="profile-card card">
    <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle">Year?</h6>
        <pre>B00:B00123456   Email:ab12345@dal.ca    Phone:(123) 456 789</pre>
        <p>Documents: <a>3 Cover Letters </a>, <a>Resume</a> </p> 
        <p>Courses: CSCI 1234, CSCI 5678</p>        
    </div>
</div>

<style>
.profile-card {
    margin-bottom: 30px;
    box-shadow: 0px 0.46ren, 2.18rem rgba(4, 9, 20, 0.03), 0px 0.93rem 1.4rem;
    border-width: 0;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 0.88rem;
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-bottom: 0.75rem;
    font-size: 0.96rem;
    color: rgba(13, 27, 62, 0.55);
    margin-top: -0.37rem;
}

</style>