<link href="../styles/architectui-html-free/architectui-html-free/main.css" rel="stylesheet"/>
<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">Tags</h5><h6 class="card-subtitle">Click on a tag to filter job postings</h6>
        <div class="d-inline-block">
            <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-light"><p>CS(1)</p></button>
            <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-light"><p>Web-Dev(3)</p></button>
            <button class="mb-2 mr-2 border-0 btn-transition btn btn-outline-light"><p>Cloud-Computing(1)</p></button>
        </div>
    </div>

    
</div>