<div class="col-lg-6">
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Documents Uploaded</h5>
            <table class="mb-0 table table-hover">
                <thead>
                    <tr>
                        <th>Document Type</th>
                        <th>File Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Resume</th>
                        <td><a data-toggle="modal" href="#resumeModal">3</a></td>
                    </tr>
                    <tr>
                        <th scope="row">CV</th>
                        <td><a data-toggle="modal" href="#CVModal">3</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Cover Letter</th>
                        <td><a data-toggle="modal" href="#CLModal">3</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Document Modal -->
<div id="resumeModal"class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Resume</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Upload Date</th>
                            <th>File Name</th>
                            <th>Applied for</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>Resume1</td>
                            <td>CSCI 1120</td>
                        </tr>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>Resume2</td>
                            <td>CSCI 1120</td>
                        </tr>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>Resume3</td>
                            <td>CSCI 1120</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="CVModal"class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Upload Date</th>
                            <th>File Name</th>
                            <th>Applied for</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>CV1</td>
                            <td>CSCI 1120</td>
                        </tr>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>CV2</td>
                            <td>CSCI 1120</td>
                        </tr>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>CV3</td>
                            <td>CSCI 1120</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="CLModal"class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cover Letter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Upload Date</th>
                            <th>File Name</th>
                            <th>Applied for</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>CL1</td>
                            <td>CSCI 1120</td>
                        </tr>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>CL2</td>
                            <td>CSCI 1120</td>
                        </tr>
                        <tr>
                            <th scope="row">2077-02-31 12.00</th>
                            <td>CL3</td>
                            <td>CSCI 1120</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



